
RewriteEngine on


RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

<IfModule mod_mime.c>
    AddType text/xml .plist
    AddType application/x-apple-aspen-config .mobileconfig
</IfModule>